extends layouts/main.jade

block content
	.jumbotron
		h1 Welcome
		p.
			This example is template default for express-mvc-boilerplate.
		p
			a(class="btn btn-lg btn-primary" href="/login") Ingresar
