
<div class="jumbotron">
	<h1>Welcome</h1>
	<p>This example is template default for express-mvc-boilerplate.</p>
	<p>
	  <a class="btn btn-lg btn-primary" href="/login" role="button">Ingresar</a>
	</p>
</div>
