<br>
<center><h4>Login</h4></center>
<login-form
    type_username_or_email="email" email="Correo electrónico" send="Ingresar"
    password="Contraseña" frameworkCss="bootstrap" url="login">
</login-form>
