extends layouts/main.pug

block content
  br
  center
    h4 Login
  form(method='POST' action='/login')
    div.form-group
      label(for='username') Username:
      input#name.form-control(type='text', placeholder='Username' name='username')
    div.form-group
      label(for='email') Password:
      input#email.form-control(type='password', placeholder='Password' name='password')
    button.btn.btn-primary(type='submit') Login
