extends layouts/main.jade

block content
  br
  center
    h4 Login
  form(method='POST' action='/login')
    div.form-group
      label(for='email') Email:
      input#name.form-control(type='email', placeholder='Email' name='email')
    div.form-group
      label(for='email') Password:
      input#email.form-control(type='password', placeholder='Password' name='password')
    button.btn.btn-primary(type='submit') Login
