<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Express MVC boilerplate</title>

  <!-- CSS  -->
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/publics/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div class="container">
    <div class="header clearfix">
      <h3 class="text-muted">Express MVC boilerplate</h3>
    </div>

    <div class="jumbotron" id="login">
      <h4>Bievenidos</h4>
    </div>

    {{{body}}}

    <footer class="footer">
      <p>&copy; Express MVC boilerplate</p>
    </footer>

  </div> <!-- /container -->

  <!--  Scripts-->
  <script src="/bower_components/fetch/fetch.js"></script>

  <script src="/node_modules/es6-shim/es6-shim.min.js"></script>
  <script src="/node_modules/systemjs/dist/system-polyfills.js"></script>
  <script src="/node_modules/angular2/bundles/angular2-polyfills.js"></script>
  <script src="/node_modules/systemjs/dist/system.src.js"></script>
  <script src="/node_modules/rxjs/bundles/Rx.js"></script>
  <script src="/node_modules/angular2/bundles/angular2.dev.js"></script>

  <!--  Scripts-->
  <script>
      {{{ component }}}
  </script>

  </body>
</html>
